<Input @value={{this.padBy}} @type="number"/>

<button
  type="button"
  data-test-id="minimal-button"
  {{on 'click' (fn (mut this.minimalMode) true)}}>
    Minimal Mode
</button>

<Pagination
  class="hello"
  @model={{@model.meta.pagination}}
  @goToPage={{this.goToPage}}
  @padBy={{this.padBy}}
  @minimalMode={{this.minimalMode}}/>

<Pagination
  @padBy={{this.padBy}}
  @minimalMode={{this.minimalMode}}
  @model={{@model.meta.pagination}} as |pages|>
    {{#each pages as |page|}}
      <span data-test-id={{page.number}}
        {{on 'click' (fn this.goToPage page.number)}}>
          {{page.number}}
      </span>
    {{/each}}
</Pagination>

{{outlet}}